body {
    background-color: lightgray;
}

$navHeight: 50px;

nav {
    background-color: blueviolet;
    position: fixed;
    top: 0;
    width: 100%;
    height: $navHeight;

    display: flex;

    ul {
        display: flex;
        justify-content: space-between;

        li {
            margin: 0px 50px;
        }
    }
}

#content {
    margin-top: $navHeight;

}

// DASHBOARD
$dashboardNavWidth: 200px;

#dashboardNav {
    height: 100%;
    width: $dashboardNavWidth;
    background-color: darkgray;
    position: fixed;
}

#dashboardContent {
    position: fixed;
    margin-left: $dashboardNavWidth;
}

#mediaForm {
    background-color: white;
    box-shadow: 5px 5px 10px 5px darkgray;

    border-radius: 12px;

    margin: 50px;   

    display: flex;
    flex-direction: column;

    width: 500px;
    height: 300px;
}

#mediaForm.submitted {
    background-color: lightgreen;
}

#mediaForms {

    height: 700px;
    overflow: scroll;

    margin: 10px;
}